* {
  box-sizing: border-box;
}
/* purple rgba(73, 11, 73, .9)
orange rgba(204, 88, 16) 
sunset
brick #814032
peach #C87746
navy #122545
mustard #E0943D
blue #15416E
beige pink #B2746F
lavender #53506E
light purple #7F7087

balloon photo
#36A0AC robins egg blue

off white #FBEED7
yellow orange #FFBA5A
peach #FF7657
purple denim #665C84

*/

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 10px;
  line-height: 1.5 ;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('./blue.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles for the header, nave and hero */
nav {
  position: fixed;
  width: 100vw;
  margin: 0 auto;
  padding: 8px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(204, 88, 16, .9);
  color: rgb(255, 233, 219);
  font-family: 'Noto Serif KR', sans-serif;
}

.nav-link:hover {
color: rgb(73, 11, 73);
text-shadow: rgb(255, 233, 219) 1px 1px 1px;
}
 
nav a { 
  font-size: 18px;
  justify-content: center;
  padding: 5px; 
  text-decoration: none;
  color: rgb(255, 233, 219);
  font-family: 'Noto Serif KR', sans-serif;
}


header {
  margin: 0;
}

.hero {
  /* flex box stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* sizing */
  height: 100vh;
  width: 100vw;
  /* hero image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('./balloon1.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */

  /* text styles */
  text-align: center;
  color: rgb(255, 233, 219);
  text-shadow: rgb(4, 31, 6) 4px 4px 4px;
}

.hero h1 {
  font-size: 60px;
  font-weight: 900;
  font-family: 'Poiret One', sans-serif;
  margin-top: 125px;
  margin-bottom: 0;
}

.hero h2 {
  font-family: 'Poiret One', sans-serif;
  font-weight: 900;
  font-size: 45px;
}

.hero .button {
  /* positioning and sizing */
  display: block;
  width: 200px;

  /* border */
  border: 3px solid rgb(73, 11, 73);
  border-radius: 10px;

  /* padding and margins */
  padding: 0.5em;
  margin-bottom: 150px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;

  /* text-styles */
  font-size: 20px;
  color: rgb(255, 233, 219);
  text-decoration: none;
  background-color: rgba(204, 88, 16);
  text-shadow: none;

  
  /* Styles for the project section */
}

main {
  margin: 0;
  font-family: 'Noto Serif KR', sans-serif;
}

.project-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('./blue.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  border: 4px solid rgb(236, 122, 51);
  border-radius: 10px;
  margin: 20px 20px;
  padding: 10px;
  color: rgb(255, 233, 219);
  font-size: 20px;
  background-color: rgba(73, 11, 73, 0.767);
  text-align: justify;
}
 

h3 {
  font-family: 'Poiret One', sans-serif;
  font-weight: 900;
  margin: 0 0 25px 0;
  background-color: rgb(73, 11, 73);
  padding: 10px;;
  font-size: 35px;
  color: rgb(255, 233, 219);
}

h4 {
  background-color: rgb(204, 88, 16) ;
  margin: 0 0 25px 0;
  padding: 10px;;
  font-family: 'Poiret One', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: rgb(220, 255, 219);
}

footer {
  font-family: 'Poiret One', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color:  rgb(21, 117, 104);
}

.button:hover {
  background-color: rgb(73, 11, 73);
  border: 4px solid rgb(236, 122, 51);
  border-radius: 10px;
}

 .project-link {
  text-decoration: none;
  color: rgb(220, 255, 219);
  font-size: 18px;
  padding: 10px;
}
 .project-links {
   margin-bottom: 20px;
 }

 img {
  /* width: 70px; */
  background-color:  rgb(255, 233, 219);
  padding: 5px;
  margin: 10px;
  border-radius: 3%;
  /* display: inline-block; */
}

/* Styles for the about and contact sections */

.about-contact h1 {
  font-family: 'Poiret One', sans-serif;
  font-weight: 900;
  color: rgb(255, 233, 219);
  font-size: 35px;
  text-shadow: rgb(4, 31, 6) 5px 5px 5px;
  background-color: rgba(88, 87, 85, 0.377);
  width: 150px;
  margin: 0 auto 20px auto;
}

.connect img  {
  width: 70px;
  margin-bottom: 50px;
}

.connect h1 {
  width: 250px;
}

.seperator {
  padding: 20px;
}

.about-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('./green-leaves-palm.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

/* Styles for larger screens */
 @media only screen and (min-width: 650px) {

  h3 {
    font-size: 45px;
  }

  h4, .smaller-font {
    font-size: 30px;
  }

  .project-screenshot img  {
    width: 500px;
  }

  p {
    width: 650px;
    font-size: 20px;
    margin: 25px auto;
  }

  .hero h1 {
    font-size: 80px
  }

  .hero h2 {
    font-size: 50px;
  } 

  nav a {
    float: right;
    margin-right: 10px;
  }

 }
  