* {
  box-sizing: border-box;
}
/* purple rgba(73, 11, 73, .9)
orange rgba(204, 88, 16) */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 10px;
  line-height: 1.5 ;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('./blue.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color:  rgb(73, 11, 73); */
}

/* Styles for the header, nave and hero */
nav {
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(204, 88, 16, .9);
  color: rgb(255, 233, 219);
  font-family: 'Alegreya Sans', sans-serif;
}

.nav-link {
  font-size: 20px;
}

.nav-link:hover {
color: rgb(73, 11, 73);
text-shadow: rgb(255, 233, 219) 1px 1px 1px;
}
 
span {
  font-weight: 900;
}

nav a { 
  float: right;
  padding: 5px; 
  text-decoration: none;
  color: rgb(255, 233, 219);
  font-family: 'Alegreya Sans', sans-serif;
}

.right-most-nav-link {
  margin-right: 3px;
}

header {
  margin: 0;
}

.hero {
  /* flex box stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* sizing */
  height: 100vh;
  width: 100vw;
  /* hero image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('./hero-image-fronds.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */

  /* text styles */
  text-align: center;
  color: rgb(255, 233, 219);
  text-shadow: rgb(4, 31, 6) 5px 5px 5px;
}

.hero h1 {
  font-size: 60px;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 0;
}

.hero h2 {
  font-family: 'Kalam', cursive;;
  font-size: 45px;
}

.hero .button {
  /* positioning and sizing */
  display: block;
  width: 200px;

  /* border */
  border: 3px solid rgb(73, 11, 73);
  border-radius: 20px;

  /* padding and margins */
  padding: 0.5em;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;

  /* text-styles */
  font-size: 1.2em;
  color: rgb(255, 233, 219);
  text-decoration: none;
  background-color: rgba(204, 88, 16);
  text-shadow: none;

}

/* Styles for the project section */

main {
  margin: 0;
  font-family: 'Nanum+Gothic', sans-serif;
  /* display: inline-grid; */
}

p {
  border: 4px solid rgb(236, 122, 51);
  border-radius: 10px;
  /* color: rgb(21, 117, 104); */
  margin: 20px 20px;
  padding: 10px;
  color: rgb(255, 233, 219);
  font-size: 15px;
  background-color: rgb(73, 11, 73);
}
 

h3 {
  margin: 0 0 25px 0;
  background-color: rgb(73, 11, 73);
  padding: 10px;;
  font-family: 'Kalam', cursive;;
  font-size: 35px;
  color: rgb(255, 233, 219);
}

h4 {
  background-color: rgb(204, 88, 16) ;
  margin: 0 0 25px 0;
  padding: 10px;;
  font-family: 'Kalam', cursive;;
  font-size: 20px;
  color: rgb(220, 255, 219);
}

.smaller-font {
  font-size: 18px;
}

footer {
  font-family: 'Kalam', cursive;;
  font-size: 1em;
  color:  rgb(21, 117, 104);
}

.button:hover {
  background-color: rgb(73, 11, 73);
  border: 4px solid rgb(236, 122, 51);
  border-radius: 10px;
}


/* Styles for larger screens */
 @media only screen and (min-width: 650px) {

  h3 {
    font-size: 45px;
  }

  h4, .smaller-font {
    font-size: 30px;
  }

  img {
    width: 500px;
  }

  p {
    width: 650px;
    font-size: 20px;
    margin: 25px auto;
  }

  .hero h1 {
    font-size: 80px
  }

  .hero h2 {
    font-size: 50px;
  } 

  .hero .button {
    font-size: 20px;
  }

 }
  